// Place all the styles related to the datacrunches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(image-path("herringbone.png")) //repeat 0 0;
}

.container {
  background: white;
}

div.header-row{
  padding-top: 10px;
  margin-bottom: 20px;
}

span.dim-buttons {
  margin: 5px;
}

td.top_point_one {
  background-color: #7b3294;
}

td.top_two {
  background-color: #c2a5cf; 

}

td.middle {
  background-color: #f7f7f7;
}

td.bottom_two {
  background-color: #a6dba0;
}

td.bottom_point_one {
  background-color: #008837;
}



// CSS FOR LEGEND
td.legend_top_point_one {
  background-color: #7b3294;
}

td.legend_top_two {
  background-color: #c2a5cf; 

}

td.legend_middle {
  background-color: #f7f7f7;
}

td.legend_bottom_two {
  background-color: #a6dba0;
}

td.legend_bottom_point_one {
  background-color: #008837;
}


// CSS for table
div.table-col {
  overflow-x: auto;
  white-space: nowrap;
  height: 500px;
  overflow-y: auto;
}

table.table.sd_table {
  color: white;
  // text-shadow: -0.25px 0 black, 0 0.25px black, 0.25px 0 black, 0 -0.25px black;
  font-size: small;
}

// tr.headers{
//   width:100%;
//   table-layout:fixed;
// }

h1.header{
  font-weight: bold;
}

// .download_btn {
//   background: url("svgs/get_app-24px.svg");

// }
// table, tr, th, td {
//     border: 1px solid black;
//   }
.modal-text{
  word-wrap: break-word;
}
